<div class="container">

  <div class= "text-center mt-5">
    <p>ようこそ、ながのCAKEへ！</p>
    <p>このサイトは、ケーキ販売のECサイトになります。</p>
    <p>会員でない方も商品の閲覧はできますが、</p>
    <p>購入には会員登録が必要になります。</p>
  </div>

  <h2 class= "m-5">新着商品</h2>

    <div class= "d-flex flex-wrap">

        <% @items.each do |item| %>
          <div style="width:25%; ">
            <div>
              <%= image_tag item.get_item_image(200,100) %>
            </div>

            <div>
              <%= link_to item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </div>

            <div>
              ￥<%= item.price %>
            </div>

          </div>
        <% end %>
    </div>


</div>