   <div class="container">


    <h4>ジャンル編集</h4>


      <%= form_with model: @genre, url:admin_genre_path(@genre.id) do |f| %>
        <div class= "row">
          <div>ジャンル名</div>
          <%= f.text_field :name %>
          <%= f.submit '変更を保存', class: "btn btn-sm btn-success" %>
        </div>
      <% end %>


  </div>